
@import "../Style/Theme.css";
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 100px;
  align-items: center;
  justify-content: center;
  padding: 50px 200px;
  background-color: var(--Parent_Color);
}

.food-card {
  width: 300px;
  height: 350px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  border: 2px solid var(--Second_Color);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  background-color: var(--White_Color);
  transition: transform 0.3s ease;
}

.food-card:hover {
  transform: scale(1.05);
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, #ff9500d9, #ff950099); /* ⬅️ برتقالي */
  padding: 20px 10px 10px 10px;
  text-align: center;
  z-index: 2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


.icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: var(--White_Color);
  margin: 0;
}

.subtitle {
  font-size: 14px;
  color: var(--White_Color);
  margin: 5px 0 0 0;
}


.icon {
  font-size: 48px;
  color: var(--White_Color);
  margin-bottom: 10px;
}

