@import "../Style/Theme.css";
.ContactContinar {
    position: relative;
    top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.Info{ 
    height: 250px;
    width: 600px;
       display: flex;
    justify-content: space-around;

    flex-direction: column;
}
#LINEPARAGRAPHP { 
     position: relative;
    left: 10px; 
    top: 7px; 
   
}
#LINEPARAGRAPH { 
    position: relative;
    left: 10px; 
    color: var(--Font-Color);
    text-decoration: none;

}

.LineFONT {
    height: 70px;
    padding: 5px;
    display: flex;
    align-items: center;
}
.FONTICON {
    color: var( --Second_Color);
    border-radius: 5px; 
    border: solid var(--gray_Color) 2px ;
   width: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50px;
}

.ContactFields{ 
    position: relative;
    bottom: 28px;
    padding: 5px 20px;
    width: 500px;
    height: 500px;
}
#CoTitle {
    position: relative;
    left: 110px;
    top: 20px;
    font-size: 25px; 

}
#FieldsTitle { 
 font-size: 30px;
}
.Input-box {
    height: 40px;
    margin-bottom: 20px;
}
.Input-box #inputField {
       width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border 0.2s;

}
#inputField:focus { 
      border-color: var(--Second_Color);
  outline: none;
}
.textArea-box {
    width: 100%;
    height: 140px
}
#AreaFiled {
    width: 100%;
    height: 100%;
    resize: none;
          
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border 0.2s;
}
#AreaFiled:focus { 
 border-color: var(--Second_Color);
  outline: none;
}
.SubmitButtonBox { 
    position: relative;
    top: 10px;
    height: 40px;
}

.subbtn{ 
    border-radius: 8px;
  background-color: var(--Second_Color);
    font-weight: bolder;
    color: white;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
}