.carousel-inner {
  height: 400px; 
  overflow: hidden;
    background-position: center;

  border-radius: 10px; 
}
.carousel-item #IMSL {
  height: 100%;
  width: 100%;
  border-radius: 10px; 
  background-repeat: no-repeat;
  background-position: center;
}



