@import "./Style/Theme.css"; 

* { 
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
}
.HomeSection { 
  height: 100vh;
  background-color: var(--Parent_Color);
}
.MenuSection {
  height: 100vh;
  background-color: var(--Parent_Color);
}
.AboutSection{
  background-color: var(--Parent_Color);
  height: 100vh; 
}
.BlogSection { 
  background-color: var(--Parent_Color);
  height: 100vh;
}
.ContactSection {
  overflow: hidden;
  background-color: var(--Parent_Color); 
  height: 100vh;

}
.BlogSection {
  background-color: var(--Parent_Color);
  height: 100vh;
}
.FAQSection {
  background-color: var(--Parent_Color);
  height: 100vh;
}
.P404Section {
  background-color: var(--Parent_Color);
  height: auto;  
min-height: 100vh;
}
.TermsPrivacySection {

  display: flex;
  justify-content: center;
  background-color: var(--Parent_Color);
height: auto;  
min-height: 100vh;
}