@import "./Style/Theme.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Parent_Color);
  background-image: url("https://www.transparenttextures.com/patterns/rocky-wall.png");
}

.home-section {
  min-height: 100vh;
}
.MenuSection {
  min-height: 100vh;
}
.AboutSection {
  min-height: 100vh;
}
.BlogSection {
  height: 100vh;
}
.ContactSection {
  overflow-x: hidden;
  margin: 0;
}

.BlogSection {
  min-height: 100vh;
}

.P404Section {
  height: auto;

  min-height: 100vh;
}
.TermsPrivacySection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: auto;
  min-height: 100vh;
}
